body {
    background-image: url("../images/1701895714-huge.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
  opacity: 75%;
  border: 1px solid white;

}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 50px;
}

#venue-details {
    padding-bottom: 1.5vw;
}

.venue-image {
    float: right;
    width: 40%;
}

#event-list {
    padding-left: 0px;
    padding-right: 0px;
}
#nav-bar {
    padding-left: 10px;
    padding-right: 10px;

    background-color: black;
    padding-top: 10px;
}
.input-field {
    opacity: 60%;
}

[role="button"] {
    cursor: pointer;
}

.artist-image {
    width: 64px;
    height: auto;
}
