body {
    background-image: url("../images/1701895714-huge.jpg");
}
.card {
  opacity: 60%;

}

#map {
    height: 400px;
    width: 100%;
}

#venue-details {
    padding-bottom: 1.5vw;
}

.venue-image {
    float: right;
    width: 40%;
}

#event-list {
    padding-left: 0px;
    padding-right: 0px;
}
